.inputs>label {
    display: block;
}

body,
button,
input {
    font-family: "Lucida Console", Monaco, monospace;
    position: relative;
}

.clear>button {
    margin: 20px;
    background-color: yellow;
    height: 40px;
}

.clear {
    position: absolute;
    top: 0;
    left: 0;
}

.generate {
    margin: 20px;
    background-color: lightgreen;
    height: 40px;
}

.inputs,
h1 {
    text-align: center;
}

.inputs>input {
    min-width: 300px;
}

.card {
    border: 1px solid darkslategray;
    padding: 5px;
    margin: 20px;
    position: relative;
    max-width: 300px;
    display: inline-block;
    border-radius: 5px;
    background-color: lightgray;
}

.title {
    border: 1px solid darkslategray;
    padding: 5px;
    margin: 5px;
    position: relative;
    border-radius: 5px;
    background-color: white;
    width: 200px;
}

.not_saved {
    position: absolute;
    top: -20px;
    left: 0;
    color: red;
}

.saved {
    position: absolute;
    top: -20px;
    left: 0;
    color: green;
}

.artwork {
    border: 5px solid darkslategray;
    margin: 5px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.content {
    border: 1px solid darkslategray;
    padding: 5px;
    margin: 5px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    font-size: 12px;
    overflow: hidden;
}

.remove {
    position: absolute;
    top: -4px;
    right: -4px;
    cursor: pointer;
    color: red;
    background-color: white;
    border-radius: 10px;
}

.tags {
    color: blue;
    margin-left: 5px;
    display: inline-block;
}

.tag {
    position: relative;
    background: orange;
    color: white;
    padding: 3px 5px;
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 30px;
    vertical-align: middle;
}

.tag:hover {
    background-color: red;
}

#create-tag {
    position: absolute;
    top: 2px;
    left: 29px;
    background-color: white;
    width: 188px;
}

.tags>label>svg:hover {
    cursor: pointer;
    color: green;
}

#search-info {
    min-height: 40px;
    font-size: 11px;
    margin-left: 20px;
}

#placeholder {
    text-align: center;
}