body,
button,
input {
    font-family: "Lucida Console", Monaco, monospace;
    position: relative;
}

.clear>button {
    margin: 20px;
    background-color: yellow;
    height: 40px;
}

.clear {
    position: absolute;
    top: 0;
    left: 0;
}

.generate {
    margin: 20px;
    background-color: lightgreen;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

#search-submit {
    cursor: pointer;
}

#search {
    min-width: 300px;
}

.inputs,
h1 {
    text-align: center;
}

.search-wrapper {
    text-align: center;
}

.inputs>input {
    min-width: 300px;
}

.card {
    border: 1px solid darkslategray;
    padding: 5px;
    margin: 20px;
    position: relative;
    max-width: 300px;
    display: inline-block;
    border-radius: 5px;
    background-color: lightgray;
}

.title {
    border: 1px solid darkslategray;
    padding: 5px;
    margin: 5px;
    position: relative;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    overflow: hidden;
    height: 20px;
}

.not_saved {
    position: absolute;
    top: -20px;
    left: 0;
    color: red;
}

.saved {
    position: absolute;
    top: -20px;
    left: 0;
    color: green;
}

.save-error-message {
    color: black;
    font-size: 11px;
}

.save-error {
    position: absolute;
    top: -20px;
    left: 0;
    color: yellow;
}

.artwork-wrapper {
    position: relative;
    border: 5px solid darkslategray;
    border-radius: 5px;
    margin: 5px;
    width: 200px;
    height: 150px;
}

.artwork-wrapper:hover {
    border: 5px solid green;
}

.artwork {
    cursor: pointer;
    width: 200px;
    height: 150px;
}

#artwork-input {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 185px;
}

.reset-artwork-random,
.reset-artwork-save,
.reset-artwork-cancel {
    position: absolute;
    top: 30px;
    font-size: 8px;
}

.reset-artwork-random {
    right: 8px;
    background-color: yellow;
}

.reset-artwork-save {
    right: 53px;
    background-color: lightgreen;
}

.reset-artwork-cancel {
    left: 5px;
    background-color: red;
}

.content {
    border: 1px solid darkslategray;
    padding: 5px;
    margin: 5px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    font-size: 12px;
    overflow: hidden;
}

.remove {
    position: absolute;
    top: -4px;
    right: -4px;
    cursor: pointer;
    color: red;
    background-color: white;
    border-radius: 10px;
}

.tags {
    color: blue;
    margin-left: 5px;
    display: inline-block;
}

.tag {
    position: relative;
    background: orange;
    color: white;
    padding: 3px 5px;
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 30px;
    vertical-align: middle;
}

.tag:hover {
    background-color: red;
}

#create-tag {
    position: absolute;
    top: 2px;
    left: 29px;
    background-color: white;
    width: 188px;
}

.tags>label>svg:hover {
    cursor: pointer;
    color: green;
}

#search-info {
    font-size: 11px;
    min-height: 30px;
    text-align: center;
    border-radius: 5px;
}

#search-info>span {
    background-color: lightyellow;
    padding: 10px;
    margin: 10px;
}

#placeholder {
    text-align: center;
    margin: 20px;
}

hr {
    border: 1px dotted slategrey;
    margin: 20px;
}